@model IEnumerable<WebApp.Models.Student>

<a class="btn btn-primary float-end col-1" asp-action="Add">Add</a>

<table class="table table-hover text-nowrap">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Rollno</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var items in Model)
        {
            <tr>
                <td>@items.FullName</td>
                <td>@items.Rollno</td>
                <td>@items.Email</td>
                <td>@items.PhoneNumber</td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@items.Id">Update</a>
                    <a class="btn btn-secondary" asp-action="Detail" asp-route-id="@items.Id">Detail</a>
                    <a class="btn btn-danger" asp-action="Remove" asp-route-id="@items.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>